In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# Training set
training_dataset = pd.read_csv('Training data.csv')
test_dataset = pd.read_csv('Test data.csv')
submission_format = pd.read_csv('BloodDonationSubmissionFormat.csv')

In [9]:
training_dataset.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0