In [1]:
import pandas as pd
import numpy as np

In [2]:
loan = pd.read_csv('E:/Python_4_DS/For Good KIVA crowdfund/kiva_loans.csv')
mpi_region_location = pd.read_csv('E:/Python_4_DS/For Good KIVA crowdfund/kiva_mpi_region_locations.csv')
theme_id = pd.read_csv('E:/Python_4_DS/For Good KIVA crowdfund/loan_theme_ids.csv')
theme_region = pd.read_csv('E:/Python_4_DS/For Good KIVA crowdfund/loan_themes_by_region.csv')

In [3]:
loan.head()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01

In [4]:
mpi_region_location.head()

,LocationName,ISO,country,region,world_region,MPI,geo,lat,lon
0,"Badakhshan, Afghanistan",AFG,Afghanistan,Badakhshan,South Asia,0.387,"(36.7347725, 70.81199529999999)",36.734772,70.811995
1,"Badghis, Afghanistan",AFG,Afghanistan,Badghis,South Asia,0.466,"(35.1671339, 63.7695384)",35.167134,63.769538
2,"Baghlan, Afghanistan",AFG,Afghanistan,Baghlan,South Asia,0.300,"(35.8042947, 69.2877535)",35.804295,69.287754
3,"Balkh, Afghanistan",AFG,Afghanistan,Balkh,South Asia,0.301,"(36.7550603, 66.8975372)",36.755060,66.897537
4,"Bamyan, Afghanistan",AFG,Afghanistan,Bamyan,South Asia,0.325,"(34.8100067, 67.8212104)",34.810007,67.821210

In [5]:
theme_id.head()

       id    Loan Theme ID          Loan Theme Type  Partner ID
0  638631  a1050000000skGl                  General       151.0
1  640322  a1050000000skGl                  General       151.0
2  641006  a1050000002X1ij         Higher Education       160.0
3  641019  a1050000002X1ij         Higher Education       160.0
4  641594  a1050000002VbsW  Subsistence Agriculture       336.0

In [6]:
theme_region.head()

,Partner ID,Field Partner Name,sector,Loan Theme ID,Loan Theme Type,country,forkiva,region,geocode_old,ISO,...,amount,LocationName,geocode,names,geo,lat,lon,mpi_region,mpi_geo,rural_pct
0,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Banteay Meanchey,"(13.75, 103.0)",KHM,...,450,"Banteay Meanchey, Cambodia","[(13.6672596, 102.8975098)]",Banteay Meanchey Province; Cambodia,"(13.6672596, 102.8975098)",13.667260,102.897510,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
1,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Battambang Province,NaN,KHM,...,20275,"Battambang Province, Cambodia","[(13.0286971, 102.989615)]",Battambang Province; Cambodia,"(13.0286971, 102.989615)",13.028697,102.989615,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
2,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Battambang Province,NaN,KHM,...,9150,"Battambang Province, Cambodia","[(13.0286971, 102.989615)]",Battambang Province; Cambodia,"(13.0286971, 102.989615)",13.028697,102.989615,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
3,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Kampong Cham Province,"(12.0, 105.5)",KHM,...,604950,"Kampong Cham Province, Cambodia","[(12.0982918, 105.3131185)]",Kampong Cham Province; Cambodia,"(12.0982918, 105.3131185)",12.098292,105.313119,"Kampong Cham, Cambodia","(11.9924294, 105.4645408)",90.0
4,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000002X1Uu,Sanitation,Cambodia,No,Kampong Cham Province,"(12.0, 105.5)",KHM,...,275,"Kampong Cham Province, Cambodia","[(12.0982918, 105.3131185)]",Kampong Cham Province; Cambodia,"(12.0982918, 105.3131185)",12.098292,105.313119,"Kampong Cham, Cambodia","(11.9924294, 105.4645408)",90.0

In [7]:
print(loan.info(), mpi_region_location.info(), theme_region.info(), theme_id.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 20 columns):
id                    671205 non-null int64
funded_amount         671205 non-null float64
loan_amount           671205 non-null float64
activity              671205 non-null object
sector                671205 non-null object
use                   666973 non-null object
country_code          671197 non-null object
country               671205 non-null object
region                614405 non-null object
currency              671205 non-null object
partner_id            657698 non-null float64
posted_time           671205 non-null object
disbursed_time        668809 non-null object
funded_time           622874 non-null object
term_in_months        671205 non-null float64
lender_count          671205 non-null int64
tags                  499789 non-null object
borrower_genders      666984 non-null object
repayment_interval    671205 non-null object
date                  671205 non-null object
dtypes: float64(4), int64(2), object(14)
memory usage: 102.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 9 columns):
LocationName    984 non-null object
ISO             1008 non-null object
country         1008 non-null object
region          984 non-null object
world_region    1008 non-null object
MPI             984 non-null float64
geo             2772 non-null object
lat             892 non-null float64
lon             892 non-null float64
dtypes: float64(3), object(6)
memory usage: 195.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15736 entries, 0 to 15735
Data columns (total 21 columns):
Partner ID            15736 non-null int64
Field Partner Name    15736 non-null object
sector                15736 non-null object
Loan Theme ID         15736 non-null object
Loan Theme Type       15736 non-null object
country               15736 non-null object
forkiva               15736 non-null object
region                15736 non-null object
geocode_old           1200 non-null object
ISO                   15722 non-null object
number                15736 non-null int64
amount                15736 non-null int64
LocationName          15736 non-null object
geocode               13662 non-null object
names                 13661 non-null object
geo                   15736 non-null object
lat                   13662 non-null float64
lon                   13662 non-null float64
mpi_region            15722 non-null object
mpi_geo               9671 non-null object
rural_pct             14344 non-null float64
dtypes: float64(3), int64(3), object(15)
memory usage: 2.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779092 entries, 0 to 779091
Data columns (total 4 columns):
id                 779092 non-null int64
Loan Theme ID      764279 non-null object
Loan Theme Type    764279 non-null object
Partner ID         764279 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 23.8+ MB
None None None None

In [8]:
loan_reg = pd.merge(loan, mpi_region_location).dropna()
loan_reg

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,...,borrower_genders,repayment_interval,date,LocationName,ISO,world_region,MPI,geo,lat,lon
0,653359,600.0,600.0,Machinery Rental,Services,to invest in working capital and to maintain g...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
1,653373,1000.0,1000.0,Grocery Store,Food,to invest in working capital and to provide hi...,NI,Nicaragua,Leon,NIO,...,male,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
2,653364,250.0,250.0,Fuel/Firewood,Retail,to buy firewood to offer to her customers,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
4,653396,800.0,800.0,Clothing Sales,Clothing,to invest in working capital to stock their bu...,NI,Nicaragua,Leon,NIO,...,"female, female, female",monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
5,653402,800.0,800.0,Grocery Store,Food,to invest in working capital and to supply her...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
6,653398,400.0,400.0,Clothing Sales,Clothing,To invest in working capital and stock her clo...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
7,653400,1925.0,1925.0,Grocery Store,Food,to stock her store.,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, female...",irregular,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
8,653395,250.0,250.0,Clothing Sales,Clothing,to invest in working capital and to stock her ...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
9,653390,800.0,800.0,Grocery Store,Food,to invest in working capital and stock up her ...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
10,653377,600.0,600.0,Cosmetics Sales,Retail,to invest in working capital and stock up on c...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-02,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
11,653771,3925.0,3925.0,Grocery Store,Food,to invest in working capital and increase her ...,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, female...",monthly,2014-01-03,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
12,653764,1975.0,1975.0,Grocery Store,Food,to invest in stock for their grocery store.,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, female...",monthly,2014-01-03,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
14,654344,675.0,675.0,Clothing Sales,Clothing,to buy stock for her clothes store,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-06,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
15,654305,1550.0,1550.0,Clothing Sales,Clothing,to invest in working capital and stock up her ...,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, female...",monthly,2014-01-06,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
16,654341,1375.0,1375.0,Pigs,Agriculture,to invest in working capital and supply her bu...,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female",monthly,2014-01-06,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
17,654277,2900.0,2900.0,Grocery Store,Food,to stock her store,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, female...",irregular,2014-01-06,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
18,654343,875.0,875.0,Clothing Sales,Clothing,to invest in working capital and stock her gen...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-06,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
19,654347,1175.0,1175.0,Clothing Sales,Clothing,to stock her store,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-06,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
20,654338,2300.0,2300.0,General Store,Retail,to invest in working capital and to stock up h...,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, male, female, ...",monthly,2014-01-06,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
21,654854,600.0,600.0,Retail,Retail,to buy inventory.,NI,Nicaragua,Leon,NIO,...,"male, male, female",monthly,2014-01-07,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
22,655267,2150.0,2150.0,Grocery Store,Food,to stock her store.,NI,Nicaragua,Leon,NIO,...,"female, male, female, female, female, female, ...",irregular,2014-01-08,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
24,655300,1175.0,1175.0,Grocery Store,Food,to invest in working capital and stock her bus...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-08,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
26,655286,400.0,400.0,Cosmetics Sales,Retail,to buy inventory.,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-08,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
27,655814,875.0,875.0,Printing,Services,to stock his business with items for screen pr...,NI,Nicaragua,Leon,NIO,...,male,monthly,2014-01-09,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
30,656177,475.0,475.0,Cosmetics Sales,Retail,to invest in working capital and to stock her ...,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-10,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
31,656236,600.0,600.0,Milk Sales,Food,invest in working capital and stock their busi...,NI,Nicaragua,Leon,NIO,...,"female, female, female",monthly,2014-01-10,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
33,657599,1725.0,1725.0,Pigs,Agriculture,invest in working capital and supply their bus...,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, male, ...",monthly,2014-01-15,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
34,657712,600.0,600.0,Grocery Store,Food,To stock her store.,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, female...",monthly,2014-01-15,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
35,657556,3750.0,3750.0,Bakery,Food,invest in working capital and stock their bake...,NI,Nicaragua,Leon,NIO,...,"female, female, female, female, female, female...",monthly,2014-01-15,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
36,658818,775.0,775.0,Grocery Store,Food,to stock her store.,NI,Nicaragua,Leon,NIO,...,female,monthly,2014-01-17,"Leon, Nicaragua",NIC,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52137,1212483,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52139,1213063,100.0,100.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52141,1212528,100.0,100.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52142,1213060,100.0,100.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52146,1212509,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52148,1212522,100.0,100.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52149,1212525,50.0,50.0,Farming,Agriculture,"to pay for farm inputs such as herbicides, mai...",MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52150,1213047,100.0,100.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52151,1213064,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52153,1213048,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52155,1213043,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52156,1212507,50.0,50.0,Farming,Agriculture,"to buy fertilizer, seeds and herbicides.",MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52157,1212481,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52163,1213056,75.0,75.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52168,1213027,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52169,1212529,100.0,100.0,Farming,Agriculture,to buy farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-29,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52175,1213471,50.0,50.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-30,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52179,1213484,100.0,100.0,Farming,Agriculture,to pay for farm inputs,MW,Malawi,Ntcheu,MWK,...,female,monthly,2016-12-30,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52183,1223880,1675.0,1675.0,Services,Services,"start up his mobile transaction business, assi...",MW,Malawi,Ntcheu,MWK,...,male,bullet,2017-01-20,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52184,1292587,1325.0,1325.0,Mobile Transactions,Services,increase his float in order to satisfy custome...,MW,Malawi,Ntcheu,MWK,...,male,bullet,2017-05-04,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52185,1297103,425.0,425.0,Mobile Transactions,Services,to pay for a kiosk for his start-up business a...,MW,Malawi,Ntcheu,MWK,...,male,bullet,2017-05-12,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52186,1296923,850.0,850.0,Mobile Transactions,Services,to generate capital for her start-up business ...,MW,Malawi,Ntcheu,MWK,...,female,bullet,2017-05-12,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52187,1304580,850.0,850.0,Mobile Transactions,Services,to attain a kiosk for her start-up business as...,MW,Malawi,Ntcheu,MWK,...,female,bullet,2017-05-23,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52188,1313379,825.0,825.0,Mobile Transactions,Services,to attain a kisok for her start-up business as...,MW,Malawi,Ntcheu,MWK,...,female,bullet,2017-06-05,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52189,1315632,1300.0,1300.0,Cereals,Food,to buy more rice and beans,MW,Malawi,Ntcheu,MWK,...,"female, female, female, female, female, female...",irregular,2017-06-07,"Ntcheu, Malawi",MWI,Sub-Saharan Africa,0.211,"(-14.9037538, 34.7740793)",-14.903754,34.774079
52191,1207215,500.0,500.0,Farm Supplies,Agriculture,to pay for high quality seeds and fertilisers ...,MZ,Mozambique,Manica,MZN,...,male,bullet,2016-12-20,"Manica, Mozambique",MOZ,Sub-Saharan Africa,0.301,"(-18.9438274, 32.8648538)",-18.943827,32.864854
52192,1207220,2075.0,2075.0,Farm Supplies,Agriculture,to buy high-quality seeds to plant and to sell.,MZ,Mozambique,Manica,MZN,...,male,bullet,2016-12-20,"Manica, Mozambique",MOZ,Sub-Saharan Africa,0.301,"(-18.9438274, 32.8648538)",-18.943827,32.864854
52193,1207690,1925.0,1925.0,Farm Supplies,Agriculture,"to purchase seeds, pesticides and fertilizers ...",MZ,Mozambique,Manica,MZN,...,male,bullet,2016-12-21,"Manica, Mozambique",MOZ,Sub-Saharan Africa,0.301,"(-18.9438274, 32.8648538)",-18.943827,32.864854
52195,1300428,5050.0,5050.0,Higher education costs,Education,to continue and finish her education in indust...,PE,Peru,Tacna,USD,...,female,bullet,2017-05-17,"Tacna, Peru",PER,Latin America and Caribbean,0.008,"(-18.0065679, -70.2462741)",-18.006568,-70.246274
52196,1323945,10000.0,10000.0,Weaving,Arts,to develop a new product which will help creat...,BT,Bhutan,Thimphu,USD,...,female,irregular,2017-06-20,"Thimphu, Bhutan",BTN,South Asia,0.016,"(27.4727924, 89.6392863)",27.472792,89.639286

In [9]:
loan_reg.T

,0,1,2,4,5,6,7,8,9,10,...,52185,52186,52187,52188,52189,52191,52192,52193,52195,52196
id,653359,653373,653364,653396,653402,653398,653400,653395,653390,653377,...,1297103,1296923,1304580,1313379,1315632,1207215,1207220,1207690,1300428,1323945
funded_amount,600,1000,250,800,800,400,1925,250,800,600,...,425,850,850,825,1300,500,2075,1925,5050,10000
loan_amount,600,1000,250,800,800,400,1925,250,800,600,...,425,850,850,825,1300,500,2075,1925,5050,10000
activity,Machinery Rental,Grocery Store,Fuel/Firewood,Clothing Sales,Grocery Store,Clothing Sales,Grocery Store,Clothing Sales,Grocery Store,Cosmetics Sales,...,Mobile Transactions,Mobile Transactions,Mobile Transactions,Mobile Transactions,Cereals,Farm Supplies,Farm Supplies,Farm Supplies,Higher education costs,Weaving
sector,Services,Food,Retail,Clothing,Food,Clothing,Food,Clothing,Food,Retail,...,Services,Services,Services,Services,Food,Agriculture,Agriculture,Agriculture,Education,Arts
use,to invest in working capital and to maintain g...,to invest in working capital and to provide hi...,to buy firewood to offer to her customers,to invest in working capital to stock their bu...,to invest in working capital and to supply her...,To invest in working capital and stock her clo...,to stock her store.,to invest in working capital and to stock her ...,to invest in working capital and stock up her ...,to invest in working capital and stock up on c...,...,to pay for a kiosk for his start-up business a...,to generate capital for her start-up business ...,to attain a kiosk for her start-up business as...,to attain a kisok for her start-up business as...,to buy more rice and beans,to pay for high quality seeds and fertilisers ...,to buy high-quality seeds to plant and to sell.,"to purchase seeds, pesticides and fertilizers ...",to continue and finish her education in indust...,to develop a new product which will help creat...
country_code,NI,NI,NI,NI,NI,NI,NI,NI,NI,NI,...,MW,MW,MW,MW,MW,MZ,MZ,MZ,PE,BT
country,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,...,Malawi,Malawi,Malawi,Malawi,Malawi,Mozambique,Mozambique,Mozambique,Peru,Bhutan
region,Leon,Leon,Leon,Leon,Leon,Leon,Leon,Leon,Leon,Leon,...,Ntcheu,Ntcheu,Ntcheu,Ntcheu,Ntcheu,Manica,Manica,Manica,Tacna,Thimphu
currency,NIO,NIO,NIO,NIO,NIO,NIO,NIO,NIO,NIO,NIO,...,MWK,MWK,MWK,MWK,MWK,MZN,MZN,MZN,USD,USD
partner_id,96,96,96,96,96,96,96,96,96,96,...,210,210,210,210,381,468,468,468,358,534
posted_time,2014-01-02 14:25:08+00:00,2014-01-02 15:26:18+00:00,2014-01-02 14:48:57+00:00,2014-01-02 17:01:15+00:00,2014-01-02 17:42:43+00:00,2014-01-02 17:07:16+00:00,2014-01-02 17:15:29+00:00,2014-01-02 16:55:58+00:00,2014-01-02 16:30:19+00:00,2014-01-02 15:54:01+00:00,...,2017-05-12 08:58:07+00:00,2017-05-12 06:35:02+00:00,2017-05-23 12:37:55+00:00,2017-06-05 08:54:32+00:00,2017-06-07 13:53:45+00:00,2016-12-20 14:03:16+00:00,2016-12-20 14:12:08+00:00,2016-12-21 06:52:20+00:00,2017-05-17 21:50:50+00:00,2017-06-20 18:39:37+00:00
disbursed_time,2013-12-17 08:00:00+00:00,2013-12-06 08:00:00+00:00,2013-12-17 08:00:00+00:00,2013-12-03 08:00:00+00:00,2013-12-03 08:00:00+00:00,2013-12-03 08:00:00+00:00,2013-12-03 08:00:00+00:00,2013-12-06 08:00:00+00:00,2013-12-03 08:00:00+00:00,2013-12-06 08:00:00+00:00,...,2017-07-20 07:00:00+00:00,2017-07-20 07:00:00+00:00,2017-07-27 07:00:00+00:00,2017-07-31 07:00:00+00:00,2017-05-25 07:00:00+00:00,2017-03-20 07:00:00+00:00,2017-03-20 07:00:00+00:00,2017-01-31 08:00:00+00:00,2017-04-28 07:00:00+00:00,2017-08-31 07:00:00+00:00
funded_time,2014-01-08 22:07:48+00:00,2014-01-31 14:29:51+00:00,2014-01-05 14:27:49+00:00,2014-01-14 18:52:52+00:00,2014-01-25 04:06:44+00:00,2014-01-22 02:16:50+00:00,2014-02-02 05:35:21+00:00,2014-01-14 18:00:57+00:00,2014-01-22 19:59:51+00:00,2014-02-11 02:17:35+00:00,...,2017-05-19 17:11:53+00:00,2017-05-18 21:19:16+00:00,2017-06-01 18:01:49+00:00,2017-06-14 18:40:12+00:00,2017-06-17 20:40:19+00:00,2016-12-24 20:32:37+00:00,2017-01-18 07:44:44+00:00,2017-01-21 15:48:54+00:00,2017-05-22 15:01:45+00:00,2017-07-06 21:02:36+00:00
term_in_months,14,14,14,9,13,13,10,10,17,14,...,17,17,18,19,6,6,6,9,50,14
lender_count,16,20,8,7,31,14,60,9,27,21,...,9,32,23,28,10,19,83,75,147,357
tags,#Parent,"#Parent, #Inspiring Story, #First Loan, user_f...","volunteer_pick, user_favorite, #Single Parent,...","#Parent, #Supporting Family, #Woman Owned Biz","#Eco-friendly, #First Loan, #Woman Owned Biz, ...","#Single Parent, #Supporting Family, #Schooling...","#Repeat Borrower, #Parent, #Inspiring Story","#Elderly, #Repeat Borrower","#Parent, #Woman Owned Biz, user_favorite","user_favorite, #Elderly, #Single Parent, #Woma...",...,"volunteer_pick, #Technology, #Biz Durable Asse...","#Technology, user_favorite, user_favorite","#Technology, #Woman Owned Biz, user_favorite","#Technology, #Woman Owned Biz, user_favorite",user_favorite,"user_favorite, user_favorite","#Job Creator, #Parent, #Vegan","#Elderly, #Parent, user_favorite","#Schooling, user_favorite, user_favorite, user...","user_favorite, user_favorite, user_favorite, u..."
borrower_genders,female,male,female,"female, female, female",female,female,"female, female, female, female, female, female...",female,female,female,...,male,female,female,female,"female, female, female, female, female, female...",male,male,male,female,female
repayment_interval,monthly,monthly,monthly,monthly,monthly,monthly,irregular,monthly,monthly,monthly,...,bullet,bullet,bullet,bullet,irregular,bullet,bullet,bullet,bullet,irregular
date,2014-01-02,2014-01-02,2014-01-02,2014-01-02,2014-01-02,2014-01-02,2014-01-02,2014-01-02,2014-01-02,2014-01-02,...,2017-05-12,2017-05-12,2017-05-23,2017-06-05,2017-06-07,2016-12-20,2016-12-20,2016-12-21,2017-05-17,2017-06-20
LocationName,"Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua",...,"Ntcheu, Malawi","Ntcheu, Malawi","Ntcheu, Malawi","Ntcheu, Malawi","Ntcheu, Malawi","Manica, Mozambique","Manica, Mozambique","Manica, Mozambique","Tacna, Peru","Thimphu, Bhutan"
ISO,NIC,NIC,NIC,NIC,NIC,NIC,NIC,NIC,NIC,NIC,...,MWI,MWI,MWI,MWI,MWI,MOZ,MOZ,MOZ,PER,BTN
world_region,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,...,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Latin America and Caribbean,South Asia
MPI,0.031,0.031,0.031,0.031,0.031,0.031,0.031,0.031,0.031,0.031,...,0.211,0.211,0.211,0.211,0.211,0.301,0.301,0.301,0.008,0.016
geo,"(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)",...,"(-14.9037538, 34.7740793)","(-14.9037538, 34.7740793)","(-14.9037538, 34.7740793)","(-14.9037538, 34.7740793)","(-14.9037538, 34.7740793)","(-18.9438274, 32.8648538)","(-18.9438274, 32.8648538)","(-18.9438274, 32.8648538)","(-18.0065679, -70.2462741)","(27.4727924, 89.6392863)"
lat,28.3999,28.3999,28.3999,28.3999,28.3999,28.3999,28.3999,28.3999,28.3999,28.3999,...,-14.9038,-14.9038,-14.9038,-14.9038,-14.9038,-18.9438,-18.9438,-18.9438,-18.0066,27.4728
lon,83.6896,83.6896,83.6896,83.6896,83.6896,83.6896,83.6896,83.6896,83.6896,83.6896,...,34.7741,34.7741,34.7741,34.7741,34.7741,32.8649,32.8649,32.8649,-70.2463,89.6393

In [10]:
#Cleaning the gender borrower_gender

#loan_reg['gender'] = loan_reg['borrower_genders'].apply(lambda x: x.split(', ')[0])
#loan_reg['gender'] = loan_reg['borrower_genders'].apply(lambda x: ', '.join(set(x.lower().split(', '))))
#loan_reg.drop(['female ,male'])
#Loan_filtered = loan_reg[loan_reg['gender'] != 'female, male']
#Loan_filtered.T
loan_reg['gender'] = loan_reg['borrower_genders'].apply(lambda x: x.split(',')[0])
loan_reg.head(100).T

,0,1,2,4,5,6,7,8,9,10,...,131,132,133,138,139,140,141,142,144,145
id,653359,653373,653364,653396,653402,653398,653400,653395,653390,653377,...,678733,678726,678718,679374,679368,679308,679311,679364,679309,679432
funded_amount,600,1000,250,800,800,400,1925,250,800,600,...,400,600,1375,800,1450,700,800,900,1900,475
loan_amount,600,1000,250,800,800,400,1925,250,800,600,...,400,600,1375,800,1450,700,800,900,1900,475
activity,Machinery Rental,Grocery Store,Fuel/Firewood,Clothing Sales,Grocery Store,Clothing Sales,Grocery Store,Clothing Sales,Grocery Store,Cosmetics Sales,...,Beverages,Clothing Sales,Clothing Sales,Textiles,Sewing,Food Production/Sales,Spare Parts,Cosmetics Sales,Food Production/Sales,Personal Housing Expenses
sector,Services,Food,Retail,Clothing,Food,Clothing,Food,Clothing,Food,Retail,...,Food,Clothing,Clothing,Arts,Services,Food,Retail,Retail,Food,Housing
use,to invest in working capital and to maintain g...,to invest in working capital and to provide hi...,to buy firewood to offer to her customers,to invest in working capital to stock their bu...,to invest in working capital and to supply her...,To invest in working capital and stock her clo...,to stock her store.,to invest in working capital and to stock her ...,to invest in working capital and stock up her ...,to invest in working capital and stock up on c...,...,to invest in working capital and supply her bu...,to have working capital to stock her business ...,to invest in working capital and stock her bus...,"buy supplies such as silk-screen watercolours,...",to invest in working capital and stock up her ...,invest in working capital and stock her busine...,invest in working capital and stock his busine...,to invest in working capital and buy stock for...,invest in working capital and stock their busi...,"to buy sand, cement, and labor"
country_code,NI,NI,NI,NI,NI,NI,NI,NI,NI,NI,...,NI,NI,NI,NI,NI,NI,NI,NI,NI,NI
country,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,...,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua,Nicaragua
region,Leon,Leon,Leon,Leon,Leon,Leon,Leon,Leon,Leon,Leon,...,Leon,Leon,Leon,Leon,Leon,Leon,Leon,Leon,Leon,Leon
currency,NIO,NIO,NIO,NIO,NIO,NIO,NIO,NIO,NIO,NIO,...,NIO,NIO,NIO,NIO,NIO,NIO,NIO,NIO,NIO,NIO
partner_id,96,96,96,96,96,96,96,96,96,96,...,96,96,96,96,96,96,96,96,96,74
posted_time,2014-01-02 14:25:08+00:00,2014-01-02 15:26:18+00:00,2014-01-02 14:48:57+00:00,2014-01-02 17:01:15+00:00,2014-01-02 17:42:43+00:00,2014-01-02 17:07:16+00:00,2014-01-02 17:15:29+00:00,2014-01-02 16:55:58+00:00,2014-01-02 16:30:19+00:00,2014-01-02 15:54:01+00:00,...,2014-03-03 15:20:59+00:00,2014-03-03 15:05:26+00:00,2014-03-03 14:40:47+00:00,2014-03-04 22:19:48+00:00,2014-03-04 21:58:51+00:00,2014-03-04 15:47:16+00:00,2014-03-04 16:12:16+00:00,2014-03-04 21:37:23+00:00,2014-03-04 15:55:10+00:00,2014-03-05 04:39:02+00:00
disbursed_time,2013-12-17 08:00:00+00:00,2013-12-06 08:00:00+00:00,2013-12-17 08:00:00+00:00,2013-12-03 08:00:00+00:00,2013-12-03 08:00:00+00:00,2013-12-03 08:00:00+00:00,2013-12-03 08:00:00+00:00,2013-12-06 08:00:00+00:00,2013-12-03 08:00:00+00:00,2013-12-06 08:00:00+00:00,...,2014-02-14 08:00:00+00:00,2014-02-06 08:00:00+00:00,2014-02-06 08:00:00+00:00,2014-02-26 08:00:00+00:00,2014-02-28 08:00:00+00:00,2014-02-27 08:00:00+00:00,2014-02-27 08:00:00+00:00,2014-02-28 08:00:00+00:00,2014-02-20 08:00:00+00:00,2014-02-19 08:00:00+00:00
funded_time,2014-01-08 22:07:48+00:00,2014-01-31 14:29:51+00:00,2014-01-05 14:27:49+00:00,2014-01-14 18:52:52+00:00,2014-01-25 04:06:44+00:00,2014-01-22 02:16:50+00:00,2014-02-02 05:35:21+00:00,2014-01-14 18:00:57+00:00,2014-01-22 19:59:51+00:00,2014-02-11 02:17:35+00:00,...,2014-03-19 07:41:30+00:00,2014-03-24 18:57:15+00:00,2014-04-09 03:50:23+00:00,2014-03-17 23:25:06+00:00,2014-03-18 23:43:06+00:00,2014-03-20 00:58:28+00:00,2014-04-15 11:36:55+00:00,2014-04-03 05:29:19+00:00,2014-03-18 01:47:27+00:00,2014-03-19 03:40:45+00:00
term_in_months,14,14,14,9,13,13,10,10,17,14,...,14,17,14,17,10,14,14,17,7,15
lender_count,16,20,8,7,31,14,60,9,27,21,...,16,24,44,31,56,21,25,33,67,15
tags,#Parent,"#Parent, #Inspiring Story, #First Loan, user_f...","volunteer_pick, user_favorite, #Single Parent,...","#Parent, #Supporting Family, #Woman Owned Biz","#Eco-friendly, #First Loan, #Woman Owned Biz, ...","#Single Parent, #Supporting Family, #Schooling...","#Repeat Borrower, #Parent, #Inspiring Story","#Elderly, #Repeat Borrower","#Parent, #Woman Owned Biz, user_favorite","user_favorite, #Elderly, #Single Parent, #Woma...",...,"#Elderly, #Woman Owned Biz","#Supporting Family, #Elderly, #Woman Owned Biz","#Elderly, #Woman Owned Biz, #Single",user_favorite,user_favorite,"#Elderly, #Repeat Borrower, #Single Parent",#Single Parent,"user_favorite, #Repeat Borrower, #Single Paren...",user_favorite,"user_favorite, #Single Parent"
borrower_genders,female,male,female,"female, female, female",female,female,"female, female, female, female, female, female...",female,female,female,...,female,female,female,female,"female, female, female",female,male,female,"female, female, male, female, female, female, ...",female
repayment_interval,monthly,monthly,monthly,monthly,monthly,monthly,irregular,monthly,monthly,monthly,...,monthly,monthly,monthly,monthly,monthly,monthly,monthly,monthly,monthly,monthly
date,2014-01-02,2014-01-02,2014-01-02,2014-01-02,2014-01-02,2014-01-02,2014-01-02,2014-01-02,2014-01-02,2014-01-02,...,2014-03-03,2014-03-03,2014-03-03,2014-03-04,2014-03-04,2014-03-04,2014-03-04,2014-03-04,2014-03-04,2014-03-05
LocationName,"Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua",...,"Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua","Leon, Nicaragua"
ISO,NIC,NIC,NIC,NIC,NIC,NIC,NIC,NIC,NIC,NIC,...,NIC,NIC,NIC,NIC,NIC,NIC,NIC,NIC,NIC,NIC
world_region,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,...,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean,Latin America and Caribbean
MPI,0.031,0.031,0.031,0.031,0.031,0.031,0.031,0.031,0.031,0.031,...,0.031,0.031,0.031,0.031,0.031,0.031,0.031,0.031,0.031,0.031
geo,"(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)",...,"(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)","(28.3998551, 83.6895693)"
lat,28.3999,28.3999,28.3999,28.3999,28.3999,28.3999,28.3999,28.3999,28.3999,28.3999,...,28.3999,28.3999,28.3999,28.3999,28.3999,28.3999,28.3999,28.3999,28.3999,28.3999
lon,83.6896,83.6896,83.6896,83.6896,83.6896,83.6896,83.6896,83.6896,83.6896,83.6896,...,83.6896,83.6896,83.6896,83.6896,83.6896,83.6896,83.6896,83.6896,83.6896,83.6896
gender,female,male,female,female,female,female,female,female,female,female,...,female,female,female,female,female,female,male,female,female,female

In [11]:
#percentage by gender; Overall
loan_reg['gender'].value_counts(normalize=True) * 100

female    59.616709
male      40.383291
Name: gender, dtype: float64

In [12]:
#percentage by gender; by country
loan_reg.groupby('country')['gender'].value_counts(normalize=True) * 100

country       gender
Bhutan        female    100.000000
Brazil        male       60.000000
              female     40.000000
Cambodia      female     77.074663
              male       22.925337
Cameroon      female     73.529412
              male       26.470588
El Salvador   female     60.473663
              male       39.526337
Guatemala     female     58.953722
              male       41.046278
Haiti         male       70.000000
              female     30.000000
Honduras      female     76.530612
              male       23.469388
Indonesia     male       74.285714
              female     25.714286
Kenya         female     53.717472
              male       46.282528
Malawi        female     88.967136
              male       11.032864
Mali          female     89.501312
              male       10.498688
Mongolia      male       55.662651
              female     44.337349
Mozambique    male      100.000000
Nicaragua     female     70.819973
              male       29.180027
Nigeria       male       92.686695
              female      7.313305
Pakistan      female     66.666667
              male       33.333333
Peru          female     64.667685
              male       35.332315
Sierra Leone  female     78.959811
              male       21.040189
Suriname      male       90.500000
              female      9.500000
Tajikistan    female     75.989673
              male       24.010327
Timor-Leste   female     91.886792
              male        8.113208
Uganda        female     71.445358
              male       28.554642
Yemen         male       57.669903
              female     42.330097
Zambia        female     54.166667
              male       45.833333
Zimbabwe      female     99.259259
              male        0.740741
Name: gender, dtype: float64

In [13]:
#percentage by gender; by world  region
loan_reg.groupby('world_region')['gender'].value_counts(normalize=True) * 100

world_region                 gender
Arab States                  male      57.669903
                             female    42.330097
East Asia and the Pacific    female    75.867679
                             male      24.132321
Europe and Central Asia      female    75.989673
                             male      24.010327
Latin America and Caribbean  female    65.068446
                             male      34.931554
South Asia                   female    68.750000
                             male      31.250000
Sub-Saharan Africa           male      65.830321
                             female    34.169679
Name: gender, dtype: float64

In [14]:
#percentage by gender; by region
loan_reg.groupby('region')['gender'].value_counts(normalize=True) * 100

region         gender
Aden           female     57.419355
               male       42.580645
Ahuachapan     male       60.000000
               female     40.000000
Aileu          female     92.452830
               male        7.547170
Arequipa       male       61.187215
               female     38.812785
Artibonite     male       70.000000
               female     30.000000
Ayacucho       female     58.888889
               male       41.111111
Balaka         female     93.478261
               male        6.521739
Bali           male       71.186441
               female     28.813559
Bamako         female    100.000000
Baucau         female     82.781457
               male       17.218543
Bo             female     80.851064
               male       19.148936
Boaco          male       69.000000
               female     31.000000
Cajamarca      male       66.666667
               female     33.333333
Callao         male      100.000000
Chikwawa       female     98.507463
               male        1.492537
Chimaltenango  female     75.000000
               male       25.000000
                            ...
San Miguel     male       40.662809
San Vicente    female     65.225564
               male       34.774436
Santa Ana      male       66.666667
               female     33.333333
Siem Reap      female     84.681373
               male       15.318627
Sikasso        female     69.924812
               male       30.075188
Solola         female     51.926978
               male       48.073022
Svay Rieng     male       62.500000
               female     37.500000
Tacna          female    100.000000
Taiz           female     50.869565
               male       49.130435
Takeo          female     78.217822
               male       21.782178
Thimphu        female    100.000000
Thyolo         female     71.428571
               male       28.571429
Totonicapan    female    100.000000
Ucayali        male       56.521739
               female     43.478261
Ulaanbaatar    male       55.662651
               female     44.337349
Viqueque       female     81.355932
               male       18.644068
Yoro           male       75.000000
               female     25.000000
Name: gender, Length: 195, dtype: float64

In [15]:
#Gender with the highest lend count
loan_reg.groupby('gender')['lender_count'].count()

gender
female    20780
male      14076
Name: lender_count, dtype: int64

In [16]:
#Regions with the highest and lowest loan_amount, funded amount
loan.groupby('region')['loan_amount', 'funded_amount'].sum().sort_values(by='loan_amount',ascending=False)

                                                    loan_amount  funded_amount
region
Goma, North Kivu province                             7397975.0      7320575.0
La Paz  / El Alto                                     6838300.0      6525925.0
Cusco                                                 6222075.0      6222075.0
Dar es Salaam                                         5113875.0      4867325.0
Lahore                                                3984575.0      3777750.0
Thanh Hoá                                             3718125.0      3429250.0
San Lorenzo                                           3428050.0      3369500.0
Santa Cruz                                            3206375.0      2964550.0
Mai Sơn - Sơn La                                      2672200.0      2403400.0
Ita                                                   2569850.0      2559775.0
CUSCO                                                 2505200.0      2488550.0
Portoviejo                                            2481725.0      2467075.0
Ciudad del Este                                       2469825.0      2455400.0
Solola                                                2406175.0      2326000.0
San Gabriel                                           2348325.0      2273325.0
Bukavu, Sud Kivu Provice                              2335300.0      2309450.0
Encarnación                                           2232175.0      2224275.0
Caaguazú                                              2163450.0      2149100.0
Webuye                                                2131400.0      1990025.0
El Alto                                               2125225.0      1973750.0
La Paz                                                2124575.0      1911525.0
Managua                                               2117975.0      1971625.0
San Miguel                                            2085025.0      1858275.0
Kaduna                                                2048900.0      1751275.0
Santaní                                               2043500.0      2013000.0
Medellín                                              1930000.0      1682700.0
Rawalpindi                                            1912250.0      1789675.0
Masaya                                                1836850.0      1753450.0
Tulcán                                                1834175.0      1738400.0
Huarochiri                                            1731250.0      1731250.0
...                                                         ...            ...
P-1, SANTA ANA, ALORAN, MIS. OCC.                          75.0           75.0
p-6 tipan,oroquieta city                                   75.0           75.0
p-3, buntawan, aloran, misamis occidental                  75.0           75.0
p-3, buntawan, oroquieta city                              75.0           75.0
P-3, HASAAN, LOPEZ JAENA, MIS. OCC.                        75.0           75.0
p-3, western pob, lopez jaena                              75.0           75.0
p-5 taboc sur, oroquieta city                              75.0           75.0
Wote , Makueni                                             75.0           75.0
Calamba-South Poblacion, Baliangao, Misamis Occide         75.0           75.0
P-4 Villaflor,Oroq.City                                    75.0           75.0
Culpan, Aloran, Misamis Occidental                         75.0           75.0
Santa Ana, ALoran, Mis. Occ                                75.0           75.0
Calamba-Upper Bunawan, Calamba Misamis Occidental          75.0           75.0
Mantic, Tangub City, Misamis  Occidental                   75.0           75.0
prk-dalisay, aloran, mis.occ.                              75.0           75.0
La Concepcion                                              75.0           75.0
Vihiga;                                                    75.0           75.0
p-5 barra puntod,lopez jaena                               75.0           75.0
Manabay, Ozamiz City                                       75.0           75.0
Oroquieta-Bunawan, Villaflor                               75.0           75.0
toril, aloran mis. occ.                                    75.0           75.0
p-5,tipan, oroquieta city                                  75.0           75.0
SINDANGAN-PANGALALAN, SINDANGAN, ZAMBOANGA DEL NOR         75.0           75.0
Delapa, Sibutad, Zambonga Del Norte                        50.0           50.0
Mwamlai Jomvu, Mombasa                                     50.0           50.0
Espino Blanco, Malinaltepec, Guerrero                      50.0           50.0
Lorenzo Tan, Tangub City                                   50.0           50.0
Delapa, Sibutad, Zamboanga Del Norte                       50.0           50.0
Namalakazi,Aldina Mombasa                                  50.0           50.0
Xochistlahuaca, Xochistlahuaca, Guerrero                   50.0           50.0

[12695 rows x 2 columns]

In [17]:
#countries with the highest and lowest loan_amount, funded amount
loan.groupby('country')['loan_amount', 'funded_amount'].sum().sort_values(by='loan_amount', ascending=False)

                                      loan_amount  funded_amount
country
Philippines                            55342225.0     54476375.0
Kenya                                  34534300.0     32248405.0
United States                          31496375.0     23158540.0
Peru                                   30867400.0     30394850.0
Paraguay                               29629075.0     29412700.0
El Salvador                            26603650.0     23357725.0
Cambodia                               19872700.0     18817100.0
Bolivia                                19843250.0     18276200.0
Rwanda                                 16646300.0     15505600.0
Uganda                                 15389350.0     14142675.0
Tajikistan                             15030350.0     13781775.0
Ecuador                                15000275.0     14598900.0
Vietnam                                14891450.0     13661700.0
Colombia                               14415600.0     12473775.0
Pakistan                               13294750.0     12467100.0
Palestine                              13070900.0     12032025.0
Armenia                                12915400.0     11186675.0
Lebanon                                12158800.0     11556350.0
Guatemala                              11414000.0     10934975.0
The Democratic Republic of the Congo   11261150.0     11020275.0
Nicaragua                              10601950.0      9854375.0
Mexico                                  9711000.0      9391225.0
Mali                                    8986700.0      8340850.0
Kyrgyzstan                              7152300.0      6728550.0
Senegal                                 7033925.0      6819675.0
Tanzania                                6827725.0      6518075.0
India                                   6727225.0      6466850.0
Samoa                                   6291575.0      5641825.0
Honduras                                6043950.0      5667925.0
Ghana                                   4960425.0      4792475.0
...                                           ...            ...
Egypt                                   1103275.0      1084925.0
Cameroon                                 936350.0       875500.0
Congo                                    786250.0       786250.0
Turkey                                   743800.0       743625.0
Israel                                   719450.0       719450.0
Moldova                                  718725.0       686850.0
Brazil                                   662200.0       661025.0
South Africa                             574025.0       574025.0
Suriname                                 550800.0       540475.0
Benin                                    518950.0       516825.0
Solomon Islands                          512550.0       493875.0
Thailand                                 426100.0       423350.0
China                                    380525.0       373475.0
Puerto Rico                              371400.0       299825.0
Lesotho                                  359525.0       359525.0
Nepal                                    307625.0       307625.0
Panama                                   273275.0       273275.0
Somalia                                  225875.0       225875.0
Chile                                    122650.0        76250.0
South Sudan                              120900.0       120900.0
Belize                                   114025.0       114025.0
Cote D'Ivoire                             50000.0        50000.0
Saint Vincent and the Grenadines          49225.0        49225.0
Namibia                                   32375.0        32375.0
Bhutan                                    20000.0        15625.0
Mauritania                                15000.0        15000.0
Afghanistan                               14000.0        14000.0
Virgin Islands                            10000.0            0.0
Vanuatu                                    9250.0         9250.0
Guam                                       4300.0          395.0

[87 rows x 2 columns]

In [18]:
#high lender count
loan['country'].value_counts().reset_index().head(10)

         index  country
0  Philippines   160441
1        Kenya    75825
2  El Salvador    39875
3     Cambodia    34836
4     Pakistan    26857
5         Peru    22233
6     Colombia    21995
7       Uganda    20601
8   Tajikistan    19580
9      Ecuador    13521

In [19]:
#finding the mean on lender count
loan.groupby(['country']).agg({'lender_count':'mean'}).sort_values(by='lender_count',ascending=False)

                                      lender_count
country
Cote D'Ivoire                          1706.000000
Mauritania                              517.000000
Bhutan                                  283.500000
Afghanistan                             256.000000
Chile                                   200.900000
Namibia                                 150.125000
Dominican Republic                      132.887097
Congo                                   131.750000
Israel                                  122.784211
Saint Vincent and the Grenadines        119.125000
China                                    97.910448
Puerto Rico                              97.500000
Somalia                                  95.146667
Vanuatu                                  85.000000
Suriname                                 82.130045
Thailand                                 81.722222
Burundi                                  81.102273
Brazil                                   76.172535
United States                            71.279501
Moldova                                  69.672414
Iraq                                     67.538771
The Democratic Republic of the Congo     59.241783
Bolivia                                  54.818873
Senegal                                  52.783726
South Africa                             52.518519
Myanmar (Burma)                          52.331016
Mongolia                                 51.839212
Ukraine                                  50.285566
Rwanda                                   50.240089
Panama                                   50.134715
...                                            ...
South Sudan                              25.537500
Lao People's Democratic Republic         25.427322
Zimbabwe                                 24.975706
Peru                                     24.592992
Nicaragua                                23.836516
Haiti                                    23.790216
Samoa                                    22.772309
Sierra Leone                             22.534257
Indonesia                                22.530576
Egypt                                    21.485052
Tajikistan                               20.909091
Yemen                                    20.888889
Uganda                                   19.448182
India                                    18.107146
Mozambique                               17.956934
El Salvador                              17.387210
Colombia                                 16.720209
Cambodia                                 16.314330
Nepal                                    15.136681
Pakistan                                 14.048963
Turkey                                   13.830887
Kenya                                    13.547498
Cameroon                                 13.332735
Madagascar                               11.291285
Liberia                                  10.687941
Philippines                               8.592398
Togo                                      8.429814
Nigeria                                   6.196823
Guam                                      6.000000
Virgin Islands                            0.000000

[87 rows x 1 columns]