In [1]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [6]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [7]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
data[1]

0.5

In [9]:
data[3]

1.0

In [11]:
data[0]

0.25

In [12]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [14]:
#Series as generalized NumPy array
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [15]:
#item access
data['d']

1.0

In [17]:
#use non-contiguous or non-sequential indices:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [18]:
data[5]

0.5

In [19]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [20]:
# to sort data
population['New York']

19651127

In [24]:
#Constructing Series objects

In [26]:
#data can be a list or NumPy array, in which case index defaults to an integer sequence:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [27]:
#data can be a scalar, which is repeated to fill the specified index
pd.Series(5, index=[100,200,500])

100    5
200    5
500    5
dtype: int64

In [28]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [29]:
#data can be a dictionary, 
#in which index defaults to the sorted dictionary keys:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [30]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

In [33]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[2, 1])

2    a
1    b
dtype: object

In [34]:
#The Pandas DataFrame Object

In [35]:
#Pandas Data frame Object

In [36]:
#data frame as a generalized numpy array

In [37]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [38]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [43]:
g_dict=({'g':10, 'h':20, 'k':25, 'f':36})
g=pd.Series(g_dict)
g

g    10
h    20
k    25
f    36
dtype: int64

In [41]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [42]:
states.columns

Index(['population', 'area'], dtype='object')

In [44]:
 pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [45]:
#dataframe from lists
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [46]:
data2=[{'a': i, 'b':2 *i} for i in range (5)]
pd.DataFrame(data2)

   a  b
0  0  0
1  1  2
2  2  4
3  3  6
4  4  8

In [47]:
#missing keys = NaN
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [48]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}, {'d':25, 'f':56}])

     a    b    c     d     f
0  1.0  2.0  NaN   NaN   NaN
1  NaN  3.0  4.0   NaN   NaN
2  NaN  NaN  NaN  25.0  56.0

In [49]:
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [50]:
#from two dimensional array
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.537334  0.424611
b  0.204976  0.780448
c  0.008958  0.254518

In [51]:
#From a NumPy structured array
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [52]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [53]:
#The Pandas Index Object

In [54]:
#an Index from a list of integers:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [55]:
#index immutable array
ind[1]
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [56]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [59]:
ind [1] = 0

IndexError: list assignment index out of range

In [60]:
#index as ordered set
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [61]:
indA&indB

Int64Index([3, 5, 7], dtype='int64')

In [62]:
indA|indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [64]:
indA^indB

Int64Index([1, 2, 9, 11], dtype='int64')