In [1]:
#operating data in pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

0    6
1    3
2    7
3    4
dtype: int32

In [4]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [6]:
#index Alignment in Series

In [7]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

In [8]:
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [9]:
area.index | population.index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [10]:
area.index | population.index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [11]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [12]:
A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [13]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                 columns=list('AB'))
A

    A   B
0  11  19
1   2   4

In [15]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                 columns=list('BAC'))
B

   B  A  C
0  2  6  4
1  8  6  1
2  3  8  1

In [16]:
A+B

      A     B   C
0  17.0  21.0 NaN
1   8.0  12.0 NaN
2   NaN   NaN NaN

In [18]:
A.add(B, fill_value=0)

      A     B    C
0  17.0  21.0  4.0
1   8.0  12.0  1.0
2   8.0   3.0  1.0

In [20]:
#Ufuncs: Operations Between DataFrame and Series

In [21]:
A = rng.randint(10, size=(3, 4))
A

array([[9, 8, 9, 4],
       [1, 3, 6, 7],
       [2, 0, 3, 1]])

In [22]:
A - A[0]

array([[ 0,  0,  0,  0],
       [-8, -5, -3,  3],
       [-7, -8, -6, -3]])

In [23]:
A - A[1]

array([[ 8,  5,  3, -3],
       [ 0,  0,  0,  0],
       [ 1, -3, -3, -6]])

In [25]:
#in pandas
df = pd.DataFrame(A, columns=list('QRST'))
df - df.iloc[0]

   Q  R  S  T
0  0  0  0  0
1 -8 -5 -3  3
2 -7 -8 -6 -3

In [26]:
df = pd.DataFrame(A, columns=list('QRST'))
df - df.iloc[2]

   Q  R  S  T
0  7  8  6  3
1 -1  3  3  6
2  0  0  0  0

In [38]:
B = rng.randint(10,size=(3,3))
dr = pd.DataFrame(B, columns=list('GHI'))
dr

   G  H  I
0  8  7  0
1  7  7  2
2  0  7  2

In [43]:
C=rng.randint(15,size=(3,5))
fr=pd.DataFrame(C,columns=list('DFGHJ'))
fr

    D   F  G   H   J
0   4   6  6  12  14
1  10  12  3  12   6
2  10   2  5  11   1

In [46]:
df.subtract(df['R'], axis=0)

   Q  R  S  T
0  1  0  1 -4
1 -2  0  3  4
2  2  0  3  1

In [50]:
df.subtract(df[2], axis=1)

KeyError: 2

In [51]:
halfrow = df.iloc[0, ::2]
halfrow

Q    9
S    9
Name: 0, dtype: int32

In [52]:
df - halfrow

     Q   R    S   T
0  0.0 NaN  0.0 NaN
1 -8.0 NaN -3.0 NaN
2 -7.0 NaN -6.0 NaN

In [53]:
#Handling Missing Data