In [1]:
1+5
621

621

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [7]:
import matplotlib.pyplot as plt

In [8]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [9]:
data['d']

1.0

In [10]:
'g'in data

False

In [11]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [13]:
data.items()

In [16]:
data['e']=1.25
data['f']=1.5
data['g']=1.75
data['h']=2.0
data

a    0.25
b    0.50
c    0.75
d    1.00
f    1.50
e    1.25
g    1.75
h    2.00
dtype: float64

In [17]:
#Series as one dimension array

In [18]:
#slicing by explicit index
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [19]:
# slicing by implicit integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

In [21]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [22]:
data

a    0.25
b    0.50
c    0.75
d    1.00
f    1.50
e    1.25
g    1.75
h    2.00
dtype: float64

In [24]:
#fancy indexing
data[['a','f']]

a    0.25
f    1.50
dtype: float64

In [27]:
data['a':'f']

a    0.25
b    0.50
c    0.75
d    1.00
f    1.50
dtype: float64

In [28]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [29]:
# explicit index when indexing
data[1]

'a'

In [30]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

In [33]:
data.iloc[1]

'b'

In [34]:
data.loc[1]

'a'

In [35]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [36]:
data.loc[1:3]

1    a
3    b
dtype: object

In [37]:
#Data Selection in DataFrame

In [38]:
#dataFrame as a dictionary
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [39]:
data['pop']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: pop, dtype: int64

In [40]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [41]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [43]:
data.pop

<bound method NDFrame.pop of               area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135>

In [44]:
data.area is data['area']

True

In [45]:
data.area is data['pop']

False

In [46]:
data.pop is data['pop']

False

In [48]:
data.pop is data['pop']

False

In [49]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [53]:
data['division']= data['pop']/data['density']
data

              area       pop     density  division
California  423967  38332521   90.413926  423967.0
Texas       695662  26448193   38.018740  695662.0
New York    141297  19651127  139.076746  141297.0
Florida     170312  19552860  114.806121  170312.0
Illinois    149995  12882135   85.883763  149995.0

In [55]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01, 4.23967000e+05],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01, 6.95662000e+05],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02, 1.41297000e+05],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02, 1.70312000e+05],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01, 1.49995000e+05]])

In [56]:
data.T

            California         Texas      New York       Florida      Illinois
area      4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop       3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density   9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01
division  4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05

In [57]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01, 4.23967000e+05])

In [58]:
data.values[2]

array([1.41297000e+05, 1.96511270e+07, 1.39076746e+02, 1.41297000e+05])

In [59]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [61]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [62]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [64]:
data.loc[:'Florida', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860

In [65]:
data.loc['Florida' :, :'pop']

            area       pop
Florida   170312  19552860
Illinois  149995  12882135

In [67]:
data.ix[:3, :'pop']

c:\users\mercy mueni mwangi\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [68]:
data.ix[:3, :'pop']

c:\users\mercy mueni mwangi\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [69]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [70]:
data.iloc[0, 2] = 90
data

              area       pop     density  division
California  423967  38332521   90.000000  423967.0
Texas       695662  26448193   38.018740  695662.0
New York    141297  19651127  139.076746  141297.0
Florida     170312  19552860  114.806121  170312.0
Illinois    149995  12882135   85.883763  149995.0

In [71]:
np.sort(data)

array([[9.00000000e+01, 4.23967000e+05, 4.23967000e+05, 3.83325210e+07],
       [3.80187404e+01, 6.95662000e+05, 6.95662000e+05, 2.64481930e+07],
       [1.39076746e+02, 1.41297000e+05, 1.41297000e+05, 1.96511270e+07],
       [1.14806121e+02, 1.70312000e+05, 1.70312000e+05, 1.95528600e+07],
       [8.58837628e+01, 1.49995000e+05, 1.49995000e+05, 1.28821350e+07]])

In [72]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.00000000e+01, 4.23967000e+05],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01, 6.95662000e+05],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02, 1.41297000e+05],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02, 1.70312000e+05],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01, 1.49995000e+05]])

In [73]:
data.T

          California         Texas      New York       Florida      Illinois
area        423967.0  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop       38332521.0  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density         90.0  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01
division    423967.0  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05

In [74]:
data.T

          California         Texas      New York       Florida      Illinois
area        423967.0  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop       38332521.0  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density         90.0  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01
division    423967.0  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05

In [75]:
x=data.T

In [77]:
x.T

                area         pop     density  division
California  423967.0  38332521.0   90.000000  423967.0
Texas       695662.0  26448193.0   38.018740  695662.0
New York    141297.0  19651127.0  139.076746  141297.0
Florida     170312.0  19552860.0  114.806121  170312.0
Illinois    149995.0  12882135.0   85.883763  149995.0

In [79]:
np.sort(x)

array([[1.41297000e+05, 1.49995000e+05, 1.70312000e+05, 4.23967000e+05,
        6.95662000e+05],
       [1.28821350e+07, 1.95528600e+07, 1.96511270e+07, 2.64481930e+07,
        3.83325210e+07],
       [3.80187404e+01, 8.58837628e+01, 9.00000000e+01, 1.14806121e+02,
        1.39076746e+02],
       [1.41297000e+05, 1.49995000e+05, 1.70312000e+05, 4.23967000e+05,
        6.95662000e+05]])

In [80]:
data['Florida':'Illinois']

            area       pop     density  division
Florida   170312  19552860  114.806121  170312.0
Illinois  149995  12882135   85.883763  149995.0

In [81]:
data[data.density > 100]

            area       pop     density  division
New York  141297  19651127  139.076746  141297.0
Florida   170312  19552860  114.806121  170312.0