In [1]:
import numpy as np

In [2]:
name = ['Alice', 'Bob', 'Cathy', 'Doug']
age = [25, 45, 37, 19]
weight = [55.0, 85.5, 68.0, 61.5]

In [6]:
x = np.zeros(4, dtype=int)
x

array([0, 0, 0, 0])

In [7]:
data = np.zeros(4, dtype={'names':('name', 'age', 'weight'),
                          'formats':('U10', 'i4', 'f8')})
print(data.dtype)

[('name', '<U10'), ('age', '<i4'), ('weight', '<f8')]

In [8]:
print(data)

[('', 0, 0.) ('', 0, 0.) ('', 0, 0.) ('', 0, 0.)]

In [9]:
data['name'] = name
data['age'] = age
data['weight'] = weight
print(data)

[('Alice', 25, 55. ) ('Bob', 45, 85.5) ('Cathy', 37, 68. )
 ('Doug', 19, 61.5)]

In [22]:
data1= np.zeros(4,dtype={'names':('name', 'weight', 'age'),
                         'formats':('U10', 'f8', 'i4')})
print(data1.dtype)

[('name', '<U10'), ('weight', '<f8'), ('age', '<i4')]

In [23]:
data1['age'] = age
data1['name'] = name
data1['weight'] = weight
print(data1)

[('Alice', 55. , 25) ('Bob', 85.5, 45) ('Cathy', 68. , 37)
 ('Doug', 61.5, 19)]

In [24]:
# Get all names
data['name']

array(['Alice', 'Bob', 'Cathy', 'Doug'], dtype='<U10')

In [19]:
data['name']=name
data['age']=age
print(data)

[('Alice', 25, 55. ) ('Bob', 45, 85.5) ('Cathy', 37, 68. )
 ('Doug', 19, 61.5)]

In [25]:
# Get first row of data
data[0]

('Alice', 25, 55.)

In [26]:
# Get the name from the last row
data[-1]['name']

'Doug'

In [27]:
# Get the name from the last row
data[-2]['name']

'Cathy'

In [28]:
data[2]['name']

'Cathy'

In [29]:
# Get names where age is under 30
data[data['age'] < 30]['name']

array(['Alice', 'Doug'], dtype='<U10')

In [30]:
data[data['weight']>80]['age']

array([45])

In [31]:
#Creating Structured Arrays

In [32]:
np.dtype({'names':('name', 'age', 'weight'),
          'formats':('U10', 'i4', 'f8')})

dtype([('name', '<U10'), ('age', '<i4'), ('weight', '<f8')])

In [33]:
np.dtype({'names':('name', 'age', 'weight'),
          'formats':((np.str_, 10), int, np.float32)})

dtype([('name', '<U10'), ('age', '<i4'), ('weight', '<f4')])

In [34]:
#A compound type can also be specified as a list of tuples:
np.dtype([('name', 'S10'), ('age', 'i4'), ('weight', 'f8')])

dtype([('name', 'S10'), ('age', '<i4'), ('weight', '<f8')])

In [35]:
#If the names of the types do not matter to you, you can specify the 
#types alone in a comma-separated string:
np.dtype('S10,i4,f8')

dtype([('f0', 'S10'), ('f1', '<i4'), ('f2', '<f8')])

In [36]:
#More Advanced Compound Types

In [37]:
tp = np.dtype([('id', 'i8'), ('mat', 'f8', (3, 3))])
X = np.zeros(1, dtype=tp)
print(X[0])
print(X['mat'][0])

(0, [[0., 0., 0.], [0., 0., 0.], [0., 0., 0.]])
[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [38]:
#RecordArrays: Structured Arrays with a Twist

In [39]:
data['age']

array([25, 45, 37, 19])

In [40]:
data_rec = data.view(np.recarray)
data_rec.age

array([25, 45, 37, 19])

In [41]:
data_rec = data.view(np.recarray)
data_rec.name

array(['Alice', 'Bob', 'Cathy', 'Doug'], dtype='<U10')

In [42]:
%timeit data['age']
%timeit data_rec['age']
%timeit data_rec.age

139 ns ± 2.01 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
3.25 µs ± 39.5 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
4.32 µs ± 78.5 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)