In [1]:
import numpy as np
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [2]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [2]:
import numpy as np
import pandas as pd

In [1]:
import numpy as np
import pandas as pd

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [3]:
data = ['peter', 'Paul', None, 'MARY', 'gUIDO']

In [4]:
names = pd.Series(data)
names

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

In [5]:
data2= ['Kenya', 'UGANda','TanzAniA','niNgeria']

In [9]:
namess=pd.Series(data2)
namess

0       Kenya
1      UGANda
2    TanzAniA
3    niNgeria
dtype: object

In [10]:
namess.str.capitalize()

0       Kenya
1      Uganda
2    Tanzania
3    Ningeria
dtype: object

In [11]:
#Tables of Pandas String Methods

In [12]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [1]:
import numpy as np
import pandas as pd

In [2]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [3]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [1]:
import numpy as np
import pandas as pd

In [2]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [3]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [5]:
monte.str.extract('([A-Za-z]+)')

         0
0   Graham
1     John
2    Terry
3     Eric
4    Terry
5  Michael

In [10]:
monte.str.extract('([A-Ya-y]+)')

         0
0   Graham
1     John
2    Terry
3     Eric
4    Terry
5  Michael

In [11]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [12]:
monte.str.findall(r'^[^TGM].*[^ns]$')

0               []
1    [John Cleese]
2               []
3      [Eric Idle]
4               []
5               []
dtype: object

In [13]:
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [15]:
monte.get(1)

'John Cleese'

In [21]:
monte.get.repeat(0)
monte

AttributeError: 'function' object has no attribute 'repeat'

In [1]:
import numpy as np
import pandas as pd

In [2]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [3]:
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [5]:
monte.str.slice(0,3)

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

monte.str.get(2)

In [6]:
monte.str.get(2)

0    a
1    h
2    r
3    i
4    r
5    c
dtype: object

In [7]:
monte.get(2)

'Terry Gilliam'

In [8]:
monte.str[2]

0    a
1    h
2    r
3    i
4    r
5    c
dtype: object

In [10]:
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

In [11]:
monte.str.split().str.get(-1).str.slice(0,4)

0    Chap
1    Clee
2    Gill
3    Idle
4    Jone
5    Pali
dtype: object

In [12]:
full_monte = pd.DataFrame({'name': monte,
                           'info': ['B|C|D', 'B|D', 'A|C',
                                    'B|D', 'B|C', 'B|C|D']})
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gilliam    A|C
3       Eric Idle    B|D
4     Terry Jones    B|C
5   Michael Palin  B|C|D

In [13]:
full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

In [14]:
#RECIPE DATABASE

In [15]:
!curl -O http://openrecipes.s3.amazonaws.com/recipeitems-latest.json.gz
!gunzip recipeitems-latest.json.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    20  100    20    0     0     26      0 --:--:-- --:--:-- --:--:--    26
'gunzip' is not recognized as an internal or external command,
operable program or batch file.

In [16]:
try:
    recipes = pd.read_json('recipeitems-latest.json')
except ValueError as e:
    print("ValueError:", e)

ValueError: Expected object or value

In [18]:
with open('recipeitems-latest.json') as f:
    line = f.readline()
pd.read_json(line).shape

ValueError: Expected object or value

In [19]:
# read the entire file into a Python array
with open('recipeitems-latest.json', 'r') as f:
    # Extract each line
    data = (line.strip() for line in f)
    # Reformat so each line is the element of a list
    data_json = "[{0}]".format(','.join(data))
# read the result as a JSON
recipes = pd.read_json(data_json)

In [20]:
recipes.shape

(0, 0)

In [21]:
import re